.movie-card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  width: 250px;
  transition: transform 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.details-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #ff4b2b;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.details-button:hover {
  background-color: #ff416c;
}
